@import 'antd/dist/antd.dark.css';

.app {
  padding-top: 20px;
}

h1.app-title {
  color: var(--antd-wave-shadow-color);
}

.explanation-icon {
  font-size: 17px;
  position: relative;
  top: -17px;
  left: -7px;
  color: rgba(255, 255, 255, 0.85);
}

.ant-timeline.control-timeline {
  .ant-timeline-item-pending {
    font-size: 0;

    .ant-timeline-item-content {
      min-height: 10px;
      top: auto;
    }
  }
}
