@import 'antd/dist/antd.dark.css';

.app {
  padding-top: 20px;
}

h1.app-title {
  color: var(--antd-wave-shadow-color);

  @media screen and (max-width: 550px) {
    font-size: 25px;
  }
}

h3.app-goal {
  @media screen and (max-width: 550px) {
    font-size: 20px;
  }
}

.explanation-icon {
  font-size: 17px;
  position: relative;
  top: -17px;
  left: -7px;
  color: rgba(255, 255, 255, 0.85);
}

.ant-timeline.control-timeline {
  .ant-timeline-item-pending {
    font-size: 0;

    .ant-timeline-item-content {
      min-height: 10px;
      top: auto;
    }
  }

  @media screen and (max-width: 470px) {
    .ant-timeline-item-content {
      margin-left: 14px;
    }
  }
}

@media screen and (max-width: 550px) {
  .ant-form label.day-checkbox {
    font-size: 11px;

    & .ant-checkbox + span {
      padding-right: 3px;
      padding-left: 4px;
    }
  }

  h4.day-title {
    font-size: 13px;
    padding-top: 3px;
  }
}

@media screen and (max-width: 470px) {
  .ant-form label.day-checkbox {
    font-size: 10px;
    padding-top: 5px;

    .ant-checkbox-inner {
      width: 10px;
      height: 10px;
    }
  }

  h4.day-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .ant-form label.day-checkbox {
    font-size: 9px;
  }

  h4.day-title {
    font-size: 11px;
    padding-top: 5px;
  }
}
